/* html{
    height: 100%;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
} */

.account-container{
    width: 100%;
    /* position: absolute;
    top: 0; */
}

.account-container form{
    display:flex;
    justify-content: center;
}

.account-inner{
    width: 100%;
    min-width: 300px;
    max-width: 400px;
    padding: 30px;
    margin: 0 10px;
    font-size: 16px;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px #666;
    background: #ffffff;
    position: relative;
    overflow: hidden;
}


.account-inner > h1{
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0;
}

.account-inner .account-logo{
    width: 100%;
    display: flex;
    justify-content: center;
}
.account-inner .account-logo > div{
    flex: 0 0 33%;
    padding-left: 1%;
}

.account-header-text{
    width: 100%;
    fill: #ddd;
}

.account-header-text.active{
    fill: #28B49B;
}

.account-inner input,
.account-inner .account-btn,
.account-inner .submit-btn{
    width: 100%;
    height: 40px;
    outline: none;
    border: 1px solid #393939;
    border-radius: 6px;
    box-sizing: border-box;
    padding-left: 10px;
}

.account-inner .account-btn,
.account-inner .submit-btn{
    text-align: center;
    font-size: 18px;
    line-height: 38px;
    color: #ffffff;
    padding: 0;
    background-color: #c2c2c2;
    border:0;
    cursor: pointer;
}


.account-inner .account-btn.active,
.account-inner .submit-btn.active{
    background-color: #28B49B;
}
.account-inner .submit-btn.error{
    background: #e44e4e;
    color: #ffffff;;
}

.account-inner > div{
    position: relative;
    margin: 20px 0;
}

.account-inner .account-btn{
    margin-top: 50px;
    background-color: #ffffff;
    border: 1px solid #28B49B;
    color: #28B49B;
}

.account-inner .account-btn a{
    display: block;
    height: 100%;
    text-decoration: none;
    color: #28B49B;
}

.account-inner .input-label {
    position: absolute;
    top: 9px;
    left: 10px;
    padding: 0 6px;
    transition: background-color 0s, font-size 0.1s, top 0.1s;
}

.account-inner .input-msg{
    padding-left: 10px;
    font-size: 12px;
}

.account-inner .error-msg{
    color: #b91515;
}

.account-inner .recovery{
    text-align: right;
}


.account-inner .user-info:hover{
    border-color: #28B49B;
}

/* 포커스 스타일 */
.input-active .input-label{
    top: -7px;
    font-size: 12px;
    background: #ffffff;
    color: #28B49B;
}
.input-active .user-info{
    border: 1px solid #28B49B;
}

/* 에러 메시지 */
.input-error .user-info{
    border: 2px solid #b91515;

}
.input-error .input-label,
.input-error .error-msg{
    color: #b91515;
}
