
.member-list > h1{
    font-size: 30px; 
    color: #30baa1;
    font-weight: bold;
}


.member-list > table{
    min-width: 1000px;
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
    font-size: 14px;
}

.member-list-setting{
    display: flex;
}

.member-list-setting .member-list-size{
    margin-left: auto;
}

.member-list > table tbody select{
    width: 100%;
    padding-left: 2px;
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
}

.member-list > table tr{
    line-height: 30px;
    text-align: center;
}

.member-list > table thead tr{
    background: #30baa1;
    color: white;
}

.member-list > table thead th{
    border: 1px solid #ddd;
}
.member-list > table tbody tr td{
    border: 1px solid #ddd;
    border-top: 0;
}
.member-list > table tbody tr.even{
    background-color: #f9f9f9;
}
.member-list > table .data-update-box{
    display: flex;
}
.member-list > table .data-update-box div{
    flex: 0 0 auto;
    height: 20px;
    flex-basis: calc(100% - 30px);
}
.member-list > table .data-update-box .change-icon{
    flex-basis: 30px;
    background: transparent;
    font-size: 16px;
    color: #ddd;
}
.member-list > table .data-update-box.active .change-icon{
    color: #30baa1;
}
.member-list > table .data-update-box .change-icon:hover{
    background-color: #eee;
}
.member-list > table .data-update-box input{
    width: 100%;
    height: 100%;
    border: 0;
    outline: none;
    text-align: center;
    font-size: 14px;
    background-color: transparent;
    box-sizing: border-box;
}
.member-list > table .data-update-box input:hover,
.member-list > table .data-update-box input:focus{
    --background-color: #eee;
    border: 1px solid #30baa1;
}

.member-list > table td{
	background: transparent;
}
.member-list > table td.new-update{
	animation: highlight 1s ease 1;
}
.member-list > table tr.delete{
	background: rgba(196, 62, 9, 0.7) !important;
	animation: element-delete 3s linear 1;
}

@keyframes highlight {
    0%{
		background: rgba(238,211,126,0.7);
    }
    100%{
		background: transparent;
    }
}

@keyframes element-delete {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}


