.member-search-container table{
    width: 100%;
    margin: 30px 0;
    border-collapse:collapse;
    border-spacing:0;
}
.member-search-container tr{
    height: 34px;
}
.member-search-container tr td:first-child{
    --border-right: 1px solid #ddd;
    text-align: right;
    background: #33b9a3;
    padding-right: 12px;
    color: #ffffff;
    font-weight: bold;
}
.member-search-container tr td:last-child{
    background: #f9f9f9;
    padding-left: 16px;
}
.member-search-container tr:first-child,
.member-search-container tr:last-child{
    height:10px;
}

.member-list select{
    width: 100%;
    padding-left: 2px;
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
}

.member-list > h1{
    font-size: 30px; 
    color: #30baa1;
    font-weight: bold;
}

.member-list > table{
	position: relative;
    min-width: 1000px;
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
    font-size: 14px;
}

/* .member-list-setting{
    display: flex;
}

.member-list-setting .member-list-size{
    margin-left: auto;
} */


.member-list > table tr{
    height: 34px;
    text-align: center;
}

.member-list > table thead tr{
    background: #30baa1;
    color: white;
}

.member-list > table thead th{
    border: 1px solid #ddd;
}

.member-list > table tbody tr td{
    border: 1px solid #ddd;
    border-top: 0;
}
.member-list > table tbody tr.even{
    background-color: rgb(240, 240, 240, 0.3);
}
.member-list > table .data-update-box{
    display: flex;
}
.member-list > table .data-update-box div{
    flex: 0 0 auto;
    height: 20px;
    flex-basis: calc(100% - 30px);
}
.member-list > table .data-update-box .change-icon{
    flex-basis: 30px;
    background: transparent;
    font-size: 20px;
    color: #ddd;
}
.member-list > table .data-update-box.active .change-icon{
    color: #30baa1;
}
.member-list > table .data-update-box .change-icon:hover{
    background-color: #eee;
}
.member-list > table .data-update-box input{
    width: 100%;
    height: 100%;
    border: 0;
    outline: none;
    text-align: center;
    font-size: 14px;
    background-color: transparent;
    box-sizing: border-box;
}
.member-list > table .data-update-box input:hover,
.member-list > table .data-update-box input:focus{
    --background-color: #eee;
    border: 1px solid #30baa1;
}

.member-list > table .member-detail:hover{
    background-color: #eee;
   	cursor: pointer;
}
.member-list > table td{
	background: transparent;
}
.member-list > table td.new-update{
	animation: highlight 1s ease 1;
}
.member-list > table tr.delete{
	background: rgba(196, 62, 9, 0.7) !important;
	animation: element-delete 3s linear 1;
}


.page-number td{
	position: absolute;
	top: 65px;
	left: 0;
	width: 100%;;
	color: #f9f9f9;
	vertical-align: middle;
	font-size: 0;
	font-weight: bold;
	text-align: center;
	border: 0 !important;
	z-index: -1;
}
.member-list-paging > div{
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	padding: 10px 0;
}
.member-list-paging a{
	width: 30px;
	margin: 0 2px;
	cursor: pointer;
	text-align: center;
	padding: 4px 0;
}
.member-list-paging a.now-page{
	background: #30baa1;
	color: #ffffff;
}
.member-list-paging a:not(.now-page):hover{ 
	background: #4bdec3;
	color: #ffffff;
}
.member-list-paging .p-prev-next{
	display: flex;
	justify-content: center;
}
.member-list-paging .p-first-end i:first-child{
	transform: translateX(5px);
}
.member-list-paging .p-first-end i:last-child{
	transform: translateX(-5px);
}

@keyframes highlight {
    0%{
		background: rgba(238,211,126,0.7);
    }
    100%{
		background: transparent;
    }
}

@keyframes element-delete {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
