
.header {
    position:fixed;
    top:0;
    width:100%;
    min-width: 300px;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
    border-bottom: 1px solid #30baa1;
    color: #eee;
    /* background: linear-gradient(to bottom, #00000066, #00000011); */
    background: rgba(0,0,0,0.8);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
    transition: background 0.5s;
    z-index: 1;
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    backdrop-filter: blur(20px) saturate(180%);
}


.header-container{
    max-width: 1200px;
    padding: 0 20px;
    align-items: center;
}

.header-container li a{
    transition: background 0.2s;
    border-radius: 10px;
    padding: 8px 8px;
    text-decoration: none;
}

.logo{
    padding-top: 2px;
}

.logo a{
    display:inline-block;
    width: 40px;
    height: 40px;
}

.main-menu-container ul{
    display: inline-flex;
    /* width: 560px; */
    align-items: center;
    padding: 0 20px;
}

.main-menu-container li,
.member-container li{
    flex: 0 0 auto;
    margin: 0 16px;
    text-align: center;
    box-sizing: border-box;
    line-height: 80px;
    /* border-right: 1px solid #30baa1; */
}

.main-menu-container li div,
.member-container li div{
    box-sizing: border-box;
    height: 80px;
    border-bottom: 5px solid #30baa1;
}

.main-menu-container li:last-child,
.member-container li:last-child{
    border: 0;
}

.member-container {
    margin-left: auto;
}

.member-container ul {
    display: flex;
    /* width: 280px; */
    align-self: center;
}


@media screen and (min-width:768px){
    .header:hover{
        background: rgba(0,0,0,0.3);
        -webkit-backdrop-filter: blur(20px) saturate(180%);
        backdrop-filter: blur(20px) saturate(180%);
    }
    .header-container li a:hover{
        background: rgba(255,255,255,0.1);
    }
}
@media screen and (max-width:768px){
    .logo{
        padding-top: 7px;
        height: 40px;
        font-size: 0;
        box-sizing: border-box;
    }

    .logo a{
        width: 30px;
        height: 30px;
    }

    .header{
        font-size: 20px;
        overflow: hidden;
        height: 40px;
        transition: background 0.5s, height 0.5s;
        background: transparent;
        /* backdrop-filter:blur(8px) saturate(180%); */
        -webkit-backdrop-filter: blur(20px) saturate(180%);
        backdrop-filter: blur(20px) saturate(180%);
    }

    .header.active{
        height:100%;
        background: rgba(0,0,0,0.3);
        overflow-y: auto;
    }

    .container{
        /* flex-wrap: wrap; */
    }

    .header-container{
        padding: 0 6px;
        flex-direction: column;
    }

    .header-container > *,
    .header.active .header-container > h1{
        opacity: 0;
        display: none;
        /* transition: opacity 1s; */
    }
    
    .header.active .header-container > *,
    .mobile-menu-open, 
    .logo{
        opacity: 1;
        /* 핸드폰은 터지되는 오류가 있어서 
        애니메이션 제거 display로 교체*/
        display: block;
    }

    .header-container li a {
        padding: 0 2px;
    }

    .main-menu-container,
    .member-container{
        margin: 20px 0 0;
    }

    .main-menu-container li,
    .member-container li{
        flex: 0 0 auto;
    }
    .main-menu-container ul,
    .member-container ul{
        width: auto;
        padding: 0;
        flex-direction: column;
        /* flex-wrap: wrap; */
    }

    .main-menu-container li,
    .member-container li{
        line-height: 40px;
        margin: 0 4px;
    }

    .main-menu-container li div,
    .member-container li div{
        height: 40px;
        border-bottom-width : 4px;
    }

    .mobile-menu-open{
        height: 30px;
        width: 30px;
        position: absolute;
        top:5px;
        left: 10px;
    }

    .menu-open-btn{
        height: 30px;
        width: 30px;
        padding: 2px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .menu-open-btn > li{
        flex: 0 0 2px;
        width: 100%;
        height: 2px;
        background: #30baa1;
        transition: transform 0.5s;
        box-shadow: 0px 1px 3px #333;
    }

    .header.active .menu-open-btn > li:nth-child(1){
        transform: translate(0%, 350%) rotate(45deg);
    }
    .header.active .menu-open-btn > li:nth-child(2){
        opacity: 0;
    }
    .header.active .menu-open-btn > li:nth-child(3){
        transform: translate(0%, -350%) rotate(-45deg);
    }

}