@charset "UTF-8";

/*
 * 여긴 사용자, 관리자 공통 스타일
 */
 
 
/* 
위쪽 화살표??
<div class="arrow">
    <div></div>
    <div></div>                    
</div>
*/
.arrow{
    width: 30px;
    height: 30px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
}

.arrow div{
    flex: 0 0 3px;
    height: 12px;
    margin-top: 5.5px;
    background-color: #f9f9f9;
}

.arrow div:first-child{
    transform: rotate(45deg) translateX(3px);
}

.arrow div:last-child{
    transform: rotate(-45deg) translateX(-3px);
}
 /* //위족 화살표 */ 

.reveal{opacity: 1;pointer-events: all;}
.circle{border-radius: 50% 50%;}
.d-none{display:none;}
.left{margin-left:auto;}
.right{margin-left:right;}
.pointer{cursor:pointer;}

.border-decoration{
    box-sizing: border-box;
    border: 20px solid #ddd;
    border-image: repeating-linear-gradient(-45deg,#e66465 0,#e66465 10px,#f6b73c 10px,#f6b73c 20px,#e66465 20px) 20 20 repeat;
}