@charset "UTF-8";

/*
 * 여긴 사용자, 관리자 공통 스타일
 */
 
 
/* 
위쪽 화살표??
<div class="arrow">
    <div></div>
    <div></div>                    
</div>
*/
.arrow{
    width: 40px;
    height: 40px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
}

.arrow div{
    flex: 0 0 3px;
    height: 17px;
    margin-top: 8px;
    background-color: #f9f9f9;
}

.arrow div:first-child{
    transform: rotate(45deg) translateX(3px);
}

.arrow div:last-child{
    transform: rotate(-45deg) translateX(-3px);
}
 /* //위족 화살표 */ 



.position-fixed{
    position: fixed;
}
.position-center{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.confirm-container{
    backdrop-filter: blur(6px);
    width: 100%;
    height: 100%;
    font-size: 16px;
}
.confirm-inner{
    width: 80%;
    max-width: 300px;
    border-radius: 12px 12px;
    overflow: hidden;
    box-shadow: 1px 1px 12px #000;
}
.confirm-text-box{
    padding: 20px 15px;
    background: #fefefe;
}

.confirm-btn-box{
    display: flex;
    text-align: center;
}
.confirm-btn{
    flex: 1;
    background: #e8e8e8;
    color: #101010;
    padding: 12px 0;
}

.confirm-yes-btn{
    background: #30baa1;
    color: white;
}

.main-background{
    background: #30baa1;
    color: #ffffff;
}
.main-color{
	color: #30baa1;
}

.reveal{opacity: 1;pointer-events: all;}
.hide{opacity: 0;cursor:initial}
.circle{border-radius: 50% 50%;}
.d-none{display:none;}
.left{margin-left:auto;}
.right{margin-left:right;}
.pointer{cursor:pointer;}
.bold{font-weight:bold;}
.reject{color:#e44e4e;}
.resolve{color:#30baa1;}
.reject-box{background: #e44e4e;color: #ffffff;}
.resolve-box{background: #30baa1;color: #ffffff;}
.smaller{flex-basis:0 !important;height:0 !important;border: 0 !important;;padding:0 !important;;margin:0 !important;}
.position-absolute{
    position: absolute;
}
.border-decoration{
    box-sizing: border-box;
    border: 20px solid #ddd;
    border-image: repeating-linear-gradient(-45deg,#e66465 0,#e66465 10px,#f6b73c 10px,#f6b73c 20px,#e66465 20px) 20 20 repeat;
}