@import url("../css/reset.css");

.main h1{
    font-size: 30px;
    --border-bottom: 10px solid #30baa1;
    display: inline-block;
    margin: 20px 0;
    color:#30baa1;
    font-weight: bold;
}
table{
    width:100%;
    border-top: 2px solid #30baa1;
    border-collapse: collapse;
    
    
}

table td:first-child
{
    background: #f4fbfa; 
 
}


table td
{
    border:1px solid #bbb; 
    text-align:center; 
 
}


table  tr{
    height: 40px;
}



table tr td:nth-child(2){
    text-align: left;
    text-indent: 20px;
}
table tr td:nth-child(3){
    background: #f4fbfa; 
}


 textarea{
border:none;
border-bottom: 3px solid #bbb;
padding:20px;
height: 350px;
width:100%;
outline:none;
}       


.list-box{
    padding:30px 10px;
    text-align: right;
 }
 
 .list-box a{
     display:inline-block;   
     width:90px;
     height: 45px;
     line-height: 45px;
     text-align:center;
     color:#fff;
     background: #30baa1;
     font-size:20px;
     font-weight: bold;  
     transition: color 2s, background-color 2s, border-radius 2s;
     
 }
 .list-box a:hover{
     color:#30baa1;
     border-radius: 8px;
     background:#fff;
     border-bottom:3px solid #30baa1;
     --transform: rotate(360deg);
 }

 .next-list >table{
     border-top: none;
 }



